.footer{
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
}
.footer p{
    color: white;
}

/*quand l'ecrant est inf a 40 rem le header devien flex */
@media (min-width:40rem){
    .footer{
        display:flex;
    }
}