html{
  box-sizing: border-box;
  line-height: 1.4;
}

*,* ::before, *::after{
  box-sizing: inherit;
}
h2{
  color: rgb(214, 187, 119);
}
h3{
  color: rgb(214, 187, 119);
}
h4{
  color: rgb(189, 182, 166);
}

body {
  margin: 0;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  max-width: 60rem;
  margin: 0 auto;
}

main {
  flex: 1;
}

main > div {
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}


